* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #4BC4EC;
}
.container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0 100px;
	padding: 0 100px;


	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

header {
	color: #fff;
	grid-area: header;
	padding: 20px 0;
	margin-bottom: 60px;

	display: inline-block;
	justify-content: space-between;
}

header nav {
    list-style: none;
    
    display: flex;
    align-items: baseline;
}

header nav li {
	align: center;
    margin-right: 25px;
    color: #fff;
}

header button {
	background-color: #fff;
    border-radius: 4px;
    padding: 8px 25px;
    margin-left: auto;
}

.main-wrapper {
	display: flex;
}

.main {

	text-align: center;
	margin-top: 50px;
	margin-right: 20px;

}

.main h2 {
	color: #fff;
	font-size: 25px;
	text-align: left;

}

.main p {
	color: #fff;
	font-size: 10px;
	margin-top: 15px;
	margin-bottom: 5px;
	text-align: left;
}

.main button {
	margin-top: 40px;
	margin-right: 35px;
	padding: 10px 20px;
    border-radius: 4px;
    outline: none;
    overflow: hidden;
    background-color: transparent;
}

.img {
	display: inline-block;
	margin-left: 150px;
	vertical-align: middle;
}

#image1 {
	display: inline-block;
	vertical-align: middle;
}

.wrapper {
	display: flex;
}

.main2 {

}